/* --------------------- */
/* Components */
/* --------------------- */
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: var(--clr-yellow);
  border: none;
  padding-inline: 5rem;
  padding-block: 0.7rem;
  border-radius: 5px;
  box-shadow: 0px 5px 21px -10px rgba(0, 0, 0, 0.75);
}
/* --------------------- */
/* Layout */
/* --------------------- */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  place-items: center;
}

.container-main {
  background-color: white;
  width: 20rem;
  margin: 0 auto;
  border-radius: 7px;
  grid-template-rows: repeat(3, 1fr);
  transform: translate(0, 10%);
  box-shadow: 0px 5px 21px -10px rgba(0, 0, 0, 0.75);
}

.container-info {
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-block: 1.5rem 2rem;
}

.container-price {
  background-color: var(--clr-cyan);
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  justify-content: space-around;
  flex-direction: column;
}

.container-list {
  background-color: var(--clr-cyan);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  padding-bottom: -0.5rem;
  border-radius: 0 0 7px 7px;
}

.rate {
  margin-inline-start: 0rem;
  align-items: center;
  margin-block-start: -1.5rem;
}

@media (min-width: 1440px) {
  button {
    margin-top: 1rem;
  }

  .container-main {
    width: 40rem;
    height: 30rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .container-info {
    padding-inline: 2.5rem;
    padding-block: 2rem;
    grid-column: 1/3;
  }

  .container-price {
    padding: 2.5rem;
    border-radius: 0 0 0px 7px;
  }

  .container-list {
    padding: 2.5rem;
    padding-bottom: 2rem;
    border-radius: 0 0 7px 0px;
  }

  .rate {
    margin-block-start: -0.5rem;
  }
}
